<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{user}] %-40logger{40} %msg%n</Property>
        <!-- Surchargeable via -DLOG_DIR=... (prod : volume monté). Défaut dev : ./logs -->
        <Property name="LOG_DIR">${sys:LOG_DIR:-logs}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="File"
                     fileName="${LOG_DIR}/nexis.log"
                     filePattern="${LOG_DIR}/nexis-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Code applicatif Nexis : INFO en prod, passer à DEBUG pour diagnostiquer -->
        <Logger name="com.bryan.nexis" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Réduire le bruit des frameworks -->
        <Logger name="io.micronaut"  level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.flywaydb"  level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
